@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="file"] {
  display: none;
}
html {
  scroll-behavior: smooth;
}


*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:active,
:hover,
:focus {
  outline: 0 !important;
  outline-offset: 0;
}

a,
a:hover {
  text-decoration: none;
  color: var(--text-color);
}
ul,
li {
  list-style: none;
  cursor: pointer;
}



.swiper-slide {
  height: 43rem !important;
}